@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0 auto;

}

.scroll-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    outline: none;
    background-color: #5d9167;
    border: none;
    cursor: pointer;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateX(200%);
}

.scroll-top i {
    color: white;
    font-size: 2rem;
}

.scroll-active-1 {
    transition: all .5s ease-in-out;
    transform: translateX(200%);
}

.scroll-active-2 {
    transition: all .5s ease-in-out;
    transform: translateX(0%);
}

@media screen and (max-width: 1366px) {
    .scroll-top {
        padding: 10px 15px;
    }

    .scroll-top i {
        color: white;
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 768px) {
    body {
        display: block;
        overflow-x: hidden;
        width: 100%;
        max-width: 768px;
    }

    .scroll-top {
        right: 35px;
        padding: 15px;
        border-radius: 4px;

    }

    .scroll-top i {
        color: white;
        font-size: 1.5rem;
    }
}