.navigation-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo-navbar {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-navbar a img {
    width: 200px;
    height: 50px;
}

.navlinks {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 55%;
    margin-right: 10%;
    position: relative;
}

.navlinks li {

    list-style: none;
    margin: 0 10px;
}

.navlinks li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(12, 12, 12);
}

.search-bar {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

}

.search-bar button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
}



#search-bar {
    position: absolute;
    height: 5vh;
    width: 80%;
    margin-right: 10%;
    right: 0;
    border-radius: 10px;
    border: 3px solid #507c59;
    padding-left: 10px;
    font-size: 1.3rem;
    font-family: 'Raleway';
    opacity: 0;
    transition: all .2s ease-in-out;
    z-index: -1;
    outline: none;
}

#search-bar-logged-in {
    position: absolute;
    height: 5vh;
    width: 78%;
    margin-right: 10%;
    left: 0;
    border-radius: 10px;
    border: 3px solid #507c59;
    padding-left: 10px;
    font-size: 1.3rem;
    font-family: 'Raleway';
    font-weight: bold;
    letter-spacing: 1.5px;
    opacity: 1;
    transition: all .2s ease-in-out;
    z-index: 1;
    outline: none;
}

.search-active {
    opacity: 1 !important;
    z-index: 1 !important;
}

.search-active-1 {
    opacity: 1 !important;
    z-index: 1 !important;
}

.hover-profile {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    width: 30%;
    background: #507c59;
    border-radius: 20px;

}

.navlinks-clicked {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 10px;
}

.navlinks-clicked li {
    list-style: none;
    margin: 10px 10px;
}

.navlinks-clicked li a {
    color: white;
}


.navlinks-clicked li a i {
    margin-right: 20px;
}

.hover-profile-active {
    display: block;
}

#avatar {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}