{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<div class="login-template">
    <h1>Login your Account</h1>
    <div class="login-form">
        <form method="post">
            {% csrf_token %}

            {% if form.errors %}
            <p>Please correct the following errors:</p>
            {% for field in form %}
            {% if field.errors %}
            <div class="alert alert-primary" role="alert">
                {{ field.label }}: {{ field.errors|striptags }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}

            <div class="login-email">
                <label for="username">{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div class="login-password">
                <label for="password">{{ form.password.label }}</label>
                {{ form.password }}
            </div>
            <div class="login-buttons">
                <input type="submit" value="Login">

                <span class="seperator">
                    <hr>
                    <p>or</p>
                </span>
                <input type="button" value="Continue with Facebook">
            </div>
        </form>
        <div class="login-reg-btn">
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}