{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'css/includes/login.css' %}">
{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<div class="login-template">
    <h1>Login your Account</h1>
    <div class="login-form">
        <form method="post">
            {% csrf_token %}

            {% if form.errors %}
            <p>Please correct the following errors:</p>
            <div class="alert alert-primary" role="alert">
                Your username or password is incorrect.
            </div>
            {% endif %}

            <div class="login-email">
                <label for="username">{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div class="login-password">
                <label for="password">{{ form.password.label }}</label>
                <div class="password-show">
                    {{ form.password }} <i class="fa-solid fa-eye" id="show_pass"></i> <i class="fa-solid fa-eye-slash"
                        id="hide_pass"></i>

                </div>
            </div>
            <div class="login-buttons">
                <input type="submit" value="Login">

                <span class="seperator">
                    <hr>
                    <p>or</p>
                </span>
                <a id="fblogin" href="{% url 'social:begin' 'facebook' %}">Sign In with Facebook</a>
            </div>
        </form>
        <div class="login-reg-btn">
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
</div>
<script type="text/javascript">
    var show_pass = document.getElementById("show_pass");
    var unshow_pass = document.getElementById("hide_pass");
    function reveal() {
        if (show_pass) {
            show_pass.onclick = () => {
                document.getElementById("password").type = "text";
                show_pass.style.display = "none";
                unshow_pass.style.display = "block";
            }
        }
        if (unshow_pass) {
            unshow_pass.onclick = () => {
                document.getElementById("password").type = "password";
                unshow_pass.style.display = "none";
                show_pass.style.display = "block";
            }
        }

    }
    reveal()
</script>

{% include 'footer.html' %}
{% endblock %}