{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'css/includes/profile-page.css' %}">
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="profile_page">
    <div class="profile-section">
        <div class="profile-header-image">
            <img src="{% static 'images/background-homepage.png'%}" alt="">
        </div>
        <div class="profile-picture-outer">
            <div class="profile-picture">
                <img src="{% for data in avatar %}
                {{ data.avatar.url }}
                {% endfor %}" alt="">
            </div>
        </div>
        <div class="profile-header-info">
            <div class="profile-form">
                <div class="profile-name">
                    <p>{{ request.user.first_name }} {{request.user.last_name}}</p>
                    <span>Full Name</span>
                </div>
                <div class="profile-phone">
                    <p>09123456789</p>
                    <span>Phone Number</span>
                </div>
                <div class="profile-email">
                    <p>{{ request.user.email }}</p>
                    <span>email</span>
                </div>
                <div class="facebook-connect">
                    <a href="#">
                        <i class="fa-brands fa-facebook"></i>
                        <p>{{request.user.first_name}} {{request.user.last_name}}</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="reviews">
            <div class="reviews-header">
                <h2>Recent Work Posted</h2>
            </div>
            <div class="work-posted">
                <div class="work-posted-contents">
                    <div class="work-offered-and-date">
                        <div class="work-offered">

                            <p>Carpentry</p>
                        </div>
                        <div class="work-date">

                            <p>12/12/2019</p>
                        </div>
                    </div>
                    <i>Work Accepted</i>
                    <div class="work-posted-details">
                        <div class="work-posted-pfp">
                            <div class="wp-pfp-container">
                                <img src="{% for data in avatar %}
                                    {{ data.avatar.url }}
                                    {% endfor %}" alt="">
                            </div>
                        </div>
                        <div class="work-posted-details-section">
                            <h4>Carpentry</h4>
                            <div class="wpd-rating">
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p> Carpentry is the work of removing wood from a tree or other woody structure and shaping
                                it into
                                a new form. </p>
                        </div>
                        <div class="work-posted-details-price">
                            <p>&#8369; 5,000</p>
                        </div>
                    </div>
                </div>
                <div class="work-posted-contents">
                    <div class="work-offered-and-date">
                        <div class="work-offered">

                            <p>Carpentry</p>
                        </div>
                        <div class="work-date">

                            <p>12/12/2019</p>
                        </div>
                    </div>
                    <i>Work Accepted</i>
                    <div class="work-posted-details">
                        <div class="work-posted-pfp">
                            <div class="wp-pfp-container">
                                <img src="{% for data in avatar %}
                                    {{ data.avatar.url }}
                                    {% endfor %}" alt="">
                            </div>
                        </div>
                        <div class="work-posted-details-section">
                            <h4>Carpentry</h4>
                            <div class="wpd-rating">
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p> Carpentry is the work of removing wood from a tree or other woody structure and shaping
                                it into
                                a new form. </p>
                        </div>
                        <div class="work-posted-details-price">
                            <p>&#8369; 5,000</p>
                        </div>
                    </div>
                </div>
                <div class="work-posted-contents">
                    <div class="work-offered-and-date">
                        <div class="work-offered">

                            <p>Carpentry</p>
                        </div>
                        <div class="work-date">

                            <p>12/12/2019</p>
                        </div>
                    </div>
                    <i>Work Accepted</i>
                    <div class="work-posted-details">
                        <div class="work-posted-pfp">
                            <div class="wp-pfp-container">
                                <img src="{% for data in avatar %}
                                    {{ data.avatar.url }}
                                    {% endfor %}" alt="">
                            </div>
                        </div>
                        <div class="work-posted-details-section">
                            <h4>Carpentry</h4>
                            <div class="wpd-rating">
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p> Carpentry is the work of removing wood from a tree or other woody structure and shaping
                                it into
                                a new form. </p>
                        </div>
                        <div class="work-posted-details-price">
                            <p>&#8369; 5,000</p>
                        </div>
                    </div>
                </div>
                <div class="work-posted-contents">
                    <div class="work-offered-and-date">
                        <div class="work-offered">

                            <p>Carpentry</p>
                        </div>
                        <div class="work-date">

                            <p>12/12/2019</p>
                        </div>
                    </div>
                    <i>Work Accepted</i>
                    <div class="work-posted-details">
                        <div class="work-posted-pfp">
                            <div class="wp-pfp-container">
                                <img src="{% for data in avatar %}
                                    {{ data.avatar.url }}
                                    {% endfor %}" alt="">
                            </div>
                        </div>
                        <div class="work-posted-details-section">
                            <h4>Carpentry</h4>
                            <div class="wpd-rating">
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star star-checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p> Carpentry is the work of removing wood from a tree or other woody structure and shaping
                                it into
                                a new form. </p>
                        </div>
                        <div class="work-posted-details-price">
                            <p>&#8369; 5,000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="scroll-top" class="scroll-top"><i class="fa-solid fa-arrow-up"></i></button>
    {% include 'footer.html' %}
    {% endblock %}