{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'css/includes/register.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'star-rating/jquery.star-rating-svg.js' %}"></script>
{{mainuser_form.media}}
{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<script>
    function ready(fn) {
        if (document.readyState != 'loading') {
            fn();
        } else {
            document.addEventListener('DOMContentLoaded', fn);
        }
    }

    ready(function () {
        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.querySelector('.profile-pic').setAttribute('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        document.querySelector(".file-upload").addEventListener('change', function () {
            readURL(this);
        });

        document.querySelector(".upload-button").addEventListener('click', function () {
            document.querySelector(".file-upload").click()
        });

        document.querySelector("#continue").addEventListener('click', function () {
            if (localStorage.getItem("locData")) {
                document.querySelector("#locData").value = localStorage.getItem("locData");
                document.querySelector("#registerForm").submit();
            }
        });
    });
</script>

<div class="register-template">
    <h1>Create a New Account</h1>
    <div class="register-form">
        <form method="post" enctype="multipart/form-data" id="registerForm">
            {% csrf_token %}
            <div class="main-form">
                {% if form.errors %}
                <p>Please correct the following errors:</p>
                {% for field in form %}
                {% if field.errors %}
                <div class="alert alert-primary" role="alert">
                    {{ field.label }}: {{ field.errors|striptags }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}

                {% if mainuser_form.errors %}
                <br>
                {% for field in mainuser_form %}
                {% if field.errors %}
                <div class="alert alert-primary" role="alert">
                    {{ field.label }}: {{ field.errors|striptags }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}

                <div class="register-full-name">
                    <div class="register-fname">
                        <label for="fname">{{ form.first_name.label }}</label>
                        {{ form.first_name }}
                    </div>
                    <div class="register-fname">
                        <label for="lname">{{ form.last_name.label }}</label>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="register-username">
                    <label for="username">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                <div class="register-email">
                    <label for="email">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <div class="register-phone-number">
                    <label for="phone_number">{{ mainuser_form.phone_number.label }}</label>
                    <div class="phone_number">
                        {{ mainuser_form.phone_number }}
                    </div>
                </div>
                <div class="register-location">
                    <label for="location">Address</label>
                    <div class="location">
                        {{ mainuser_form.city }}
                        <div class="maps">
                            {{ mainuser_form.location }}
                        </div>

                    </div>

                </div>
                <div class="register-password">
                    <label for="password">{{ form.password.label }}</label>
                    <div class="password-show">
                        {{ form.password }} <i class="fa-solid fa-eye" id="show_pass"></i> <i
                            class="fa-solid fa-eye-slash" id="hide_pass"></i>

                    </div>
                </div>
                <div class="register-password">
                    <label for="password">{{ form.password2.label }}</label>
                    <div class="password-show">
                        {{ form.password2 }} <i class="fa-solid fa-eye" id="show_pass2"></i> <i
                            class="fa-solid fa-eye-slash" id="hide_pass2"></i>

                    </div>

                </div>
                <input type="hidden" name="locData" id="locData" />
                <!-- <div class="register-account-type">
                    <h3>Select your Account Type</h3>
                    <div class="account-type-selection">

                        <div class="reg-btn">
                            <input type="radio" name="radio" id="client" value="client">
                            <label for="client">

                                <span>
                                    <i class="fa-solid fa-building"></i>
                                    <p>I'm looking for service!</p>
                                </span>
                            </label>
                        </div>
                        <div class="reg-btn">
                            <input type="radio" name="radio" id="service" value="service">
                            <label for="service">

                                <span>
                                    <i class="fa-solid fa-briefcase"></i>
                                    <p>I provide services</p>
                                </span>
                            </label>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="register-buttons">
                <div class="avatar-wrapper">
                    {% if auth_avatar %}
                    <img class="profile-pic" src="{{ auth_avatar }}" />
                    {% else %}
                    <img class="profile-pic" src="" />
                    {% endif %}
                    <div class="upload-button">
                    </div>
                    <!-- <input class="file-upload" type="file" accept="image/*" name="avatar" /> -->
                    {{ mainuser_form.avatar}}
                </div>

                <input id="continue" type="submit" value="Register">
                {% if not is_auth %}
                <span class="seperator">
                    <hr>
                    <p>or</p>
                </span>
                <a id="fblogin" href="{% url 'social:begin' 'facebook' %}">Sign In with Facebook</a>
                {% endif %}
            </div>
        </form>
        <div class="reg-login-btn">
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
</div>

<script type="text/javascript">
    var show_pass = document.getElementById("show_pass");
    var unshow_pass = document.getElementById("hide_pass");
    var show_pass2 = document.getElementById("show_pass2");
    var unshow_pass2 = document.getElementById("hide_pass2");
    function reveal() {
        if (show_pass) {
            show_pass.onclick = () => {
                document.getElementById("id_password").type = "text";
                show_pass.style.display = "none";
                unshow_pass.style.display = "block";
            }
        }
        if (unshow_pass) {
            unshow_pass.onclick = () => {
                document.getElementById("id_password").type = "password";
                unshow_pass.style.display = "none";
                show_pass.style.display = "block";
            }
        }
        if (show_pass2) {
            show_pass2.onclick = () => {
                document.getElementById("id_password2").type = "text";
                show_pass2.style.display = "none";
                unshow_pass2.style.display = "block";
            }
        }
        if (unshow_pass2) {
            unshow_pass2.onclick = () => {
                document.getElementById("id_password2").type = "password";
                unshow_pass2.style.display = "none";
                show_pass2.style.display = "block";
            }
        }

    }
    reveal()
</script>


<button id="scroll-top" class="scroll-top"><i class="fa-solid fa-arrow-up"></i></button>
{% include 'footer.html' %}
{% endblock %}