{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'css/includes/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/includes/service-marketplace.css' %}">
{% endblock %}
{% block content %}
{% load humanize %}
{% include 'navbar.html' %}
<div class="sm-list">
    <h1>Service Marketplace</h1>
    <div class="sm-sort">

        <div class="sm-sort-section">

            <span>Sort by:</span>
            <a href="#">Newest</a>
            <a href="#">Oldest</a>
            <select name="sort" id="" value="Price">
                <option value="none" selected disabled hidden>Price</option>
                <option value="">Price: High to Low</option>
                <option value="">Price: Low to High</option>
            </select>
            <select name="sort" id="" value="">
                <option value="none" selected disabled hidden>Categories</option>
                <option value="">Electronics</option>
                <option value="">Health Service</option>
                <option value="">Automotive</option>
                <option value="">Legal Service</option>
                <option value="">Event Service</option>
                <option value="">Well-being</option>

            </select>
        </div>
        <div class="sm-list-or-grid">

            <button id="list"><i class="fa-solid fa-list"></i></button>
            <button id="grid"><i class="fa-solid fa-table-cells-large"></i></button>
            <button id="create"><a href="{% url 'createservice' %}">Create a Service</a></button>

        </div>

    </div>
    <ul class="offers" id="container">
        {% for service in services %}
        <li>
            <a href="{% url 'service_details' service.id  %}">
                <div class="work-offer-thumbnail-parent">
                    {% for img in service.serviceimage_set.all %}
                    <img src="{{ img.image.url }}" alt="">
                    {% endfor %}
                </div>
                <p>{{service.service_name|truncatechars:16}}</p>
                <p>{{service.service_type}}</p>
                <span>2.1km away - Tondo</span>
            </a>
        </li>
        {% endfor %}

    </ul>
</div>
<button id="scroll-top" class="scroll-top"><i class="fa-solid fa-arrow-up"></i></button>

{% include 'footer.html' %}
{% endblock %}