{% extends 'index.html' %}
{% load static %}
{% load humanize %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'css/includes/service-details.css' %}">

{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="srvc-dtl">
    <a href="/">
        <i class="fa-solid fa-caret-left"></i>
        <span>Return to Homepage</span>
    </a>
    <h2>Service</h2>
    <div class="srvc-dtl-contents">
        <div class="srvc-dtl-image-view">
            {% for img in service.serviceimage_set.all|slice:":1" %}
            <div class="srvc-dtl-main-img">

                <img src="{{ img.image.url }}" alt="" id="img-preview">

            </div>
            {% endfor %}
            <div class="srvc-dtl-img-thumbs">
                {% for img in service.serviceimage_set.all %}
                <div class="srvc-dtl-sub-img">
                    <img src="{{ img.image.url }}" alt="" id="img-thumbnails" onclick="myFunction(this);">
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="srvc-dtl-details-and-reviews">
            <div class="srvc-dtl-sub-contents">
                <div class="srvc-dtl-details">
                    <h3>{{ service.service_name }}</h3>
                    <h4>{{ service.service_type.tag }} {{ service.service_type.name }}</h4>
                    <div class="srvc-dtl-sub-details">
                        <div class="srvc-dtl-img-sub-details">
                            <div class="srvc-dtl-img-container">
                                <img src="{{ service.created_by.avatar.url }}" alt="">
                            </div>
                        </div>
                        <div class="srvc-dtl-content-sub-details">
                            <ul>
                                <li>
                                    <p>Owner:</p>
                                    <span>{{ service.created_by.full_name }}</span>
                                </li>
                                <li>
                                    <p>Location:</p>
                                    <span>--</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="srvc-dtl-price">
                        <h5>Service starts at:</h5>
                        <h3>₱{% filter intcomma %}{{ service.price|floatformat }}{% endfilter %}</h3>
                    </div>
                </div>
                <div class="srvc-dtl-tags">
                    <div class="srvc-dtl-tag-container">
                        <strong>{{ total_clients }}</strong>
                        <span>Total Clients</span>
                    </div>
                    <div class="srvc-dtl-tag-container">
                        <strong>{{ clients_finished }}</strong>
                        <span>Completed</span>
                    </div>
                    <div class="srvc-dtl-tag-container">
                        <a href="{% url 'service_requests' service.id %}">
                            <i class="fa-solid fa-list"></i>
                            <span>Manage</span>
                        </a>
                    </div>
                </div>
            </div>
            {% if client_acquired_service %}
            <div class="acquired-service-card">
                <div class="asc-dtl">
                    <h4>Your service request details:</h4>
                    {% if client_acquired_service.status == 'PENDING' %}
                    <h5 style="color: #FF8400;">{{ client_acquired_service.status }}</h5>
                    {% elif client_acquired_service.status == 'ON-GOING' %}
                    <h5 style="color: #fff700;">{{ client_acquired_service.status }}</h5>
                    {% elif client_acquired_service.status == 'CANCELED' or client_acquired_service.status == 'DECLINED'
                    %}
                    <h5 style="color: #cd1800;">{{ client_acquired_service.status }}</h5>
                    {% elif client_acquired_service.status == 'COMPLETED' %}
                    <h5 style="color: #268700;">{{ client_acquired_service.status }}</h5>
                    {% endif %}
                </div>
                <span>Details:</span>
                <p>{{ client_acquired_service.client_msg }}</p>
            </div>
            {% elif request.user.is_authenticated %}
            {% for message in form_messages %}
            <p>{{ message }}</p>
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                {% if form_errors %}
                <div class="srvc-dtl-error">
                    <p>Unable to proceed:</p>
                    {% for error in form_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="srvc-dtl-service-input">
                    <div class="srvc-dtl-service-textarea">
                        <label for="client_msg">{{ form.client_msg.label }}</label>
                        {{ form.client_msg }}
                    </div>
                    <div class="srvc-dtl-service-btn">
                        <input type="submit" value="Acquire Service">
                    </div>
                </div>
            </form>
            {% else %}
            <p>Login to acquire service.</p>
            {% endif %}
        </div>
    </div>
    <div class="srvc-dtl-description">
        <h5>Service Details:</h5><br>
        <p>{{ service.description }}</p>
    </div>
    <div class="srvc-dtl-reviews">
        <div class="srvc-dtl-review-options">
            <h3>Star Ratings</h3>
            <div class="rating-setting">
                <input type="radio" name="review-rating" id="review-filter-all">
                <div class="star-ratings">
                    All
                </div>
            </div>
            <div class="rating-setting">
                <input type="radio" name="review-rating" id="review-filter-5-star">
                <div class="star-ratings">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
            </div>
            <div class="rating-setting">
                <input type="radio" name="review-rating" id="review-filter-4-star">
                <div class="star-ratings">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                </div>
            </div>
            <div class="rating-setting">
                <input type="radio" name="review-rating" id="review-filter-3-star">
                <div class="star-ratings">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                </div>
            </div>
            <div class="rating-setting">
                <input type="radio" name="review-rating" id="review-filter-2-star">
                <div class="star-ratings">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                </div>
            </div>
            <div class="rating-setting">
                <input type="radio" name="review-rating" id="review-filter-1-star">
                <div class="star-ratings">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                </div>
            </div>
        </div>
        <div class="srvc-dtl-review-clients">
            <div class="service-review">
                <div class="reviewer-avatar">
                    <img src="{% for data in avatar %} {{ data.avatar.url }} {% endfor %}" alt="">
                </div>
                <div class="review-body">
                    <span class="review-body-name">{{ request.user.mainuser.full_name }}</span>
                    <div class="star-ratings">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                    <span class="review-body-rv-dtl">Review description Lorem ipsum</span>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="scroll-top" class="scroll-top"><i class="fa-solid fa-arrow-up"></i></button>
{% include 'footer.html' %}
{% endblock %}