{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<div class="service-request-page">
    <a href="/">
        <i class="fa-solid fa-caret-left"></i>
        <span>Return to Homepage</span>
    </a>
    <h2>Service Requests</h2>
    <div class="service-request-header">
        <div class="sr-entries">
            <span>Show</span>
            <select>
                <option>All</option>
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
            <span>entries</span>
        </div>
        <div class="sr-search-and-sort">
            <div class="sr-sort-select">
                <span>Sort by:</span>
                <select>
                    <option>Name</option>
                    <option>Status</option>
                    <option>Amount</option>
                </select>
            </div>
            <div class="sr-search-bar">
                <label for="searh">Search:</label>
                <input type="text" name="search" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="service-request-table">
        <table class="sr-table">
            <thead>
                <tr>
                    <th>Name of the Cline</th>
                    <th>Status</th>
                    <th>Offer Amount</th>
                    <th>Offer Message</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td><span>Juan Dela Cruz</span></td>
                    <td><span style="color:#FF8400;">Pending</span></td>
                    <td><span>&#8369;5000.00</span></td>
                    <td><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, distinctio.
                        </span></td>
                    <td><span><a href="{% url 'view_service' %}" id="view">View</a>/ <input type="button"
                                value="Remove"></span>
                    </td>
                </tr>
                <tr>

                    <td><span>Juan Dela Cruz</span></td>
                    <td><span style="color:#FF8400;">Pending</span></td>
                    <td><span>&#8369;5000.00</span></td>
                    <td><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, distinctio.
                        </span></td>
                    <td><span><a href="{% url 'view_service' %}">View</a>/ <input type="button" value="Remove"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% include 'footer.html' %}
{% endblock %}