{% extends 'index.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'css/includes/workoffer-create.css' %}">
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<script>
    function ready(fn) {
        if (document.readyState != 'loading') {
            fn();
        } else {
            document.addEventListener('DOMContentLoaded', fn);
        }
    }
    ready(ImgUpload)

    function findFreeElement(elements) {
        for (e of elements) {
            if (!e.innerHTML.trim()) return e;
        }
        return null
    }
    var imgWrap = "";
    var imgArray = [];

    function ImgUpload() {

        document.querySelector(".work-offer-create-upload__inputfile").addEventListener('change', async function (e) {

            var maxLength = this.getAttribute('data-max_length');

            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);
            var iterator = 0;
            filesArr.forEach(function (f, index) {
                if (!f.type.match('image.*')) {
                    return;
                }

                if (imgArray.length > maxLength) {
                    return false
                } else {
                    var len = 0;
                    for (var i = 0; i < imgArray.length; i++) {
                        if (imgArray[i] !== undefined) {
                            len++;
                        }
                    }
                    if (len > maxLength) {
                        return false;
                    } else {
                        var reader = new FileReader();
                        reader.onload = async function (e) {
                            imgWrap = findFreeElement(document.querySelectorAll('.work-offer-thumbnail-upload'));
                            if (!imgWrap) return;
                            imgArray.push(f);
                            imgWrap.innerHTML += "<div class='work-offer-thumbnail-upload-close'></div>"
                            imgWrap.removeAttribute('background')
                            imgWrap.setAttribute('style', "background-image: url(" + e.target.result + ");background-repeat: no-repeat; background-position: center; background-size: cover;")
                            imgWrap.setAttribute('data-file', f.name)
                            
                            iterator++;
                        }
                        reader.readAsDataURL(f);
                    }
                }
            });
        });
        document.addEventListener('click', function (e) {
            // loop parent nodes from the target to the delegation node
            for (var target = e.target; target && target != this; target = target.parentNode) {
                if (target.matches(".work-offer-thumbnail-upload-close")) {
                    removeThumbnail.call(target, e);
                    break;
                }
            }
        }, false);

        function removeThumbnail(target, e) {
            element = target.target
            var file = element.parentNode.dataset.file;
            imgArray = imgArray.filter(v => v.name !== file)

            if (element.parentNode !== null) {
                element.parentNode.removeAttribute('data-file')
                element.parentNode.removeAttribute('style')
                element.parentNode.removeChild(element);
            }
        }
    }
</script>
<div class="work-offer-create-container">

    {% if form.errors or errors %}
    <div class="work-offer-create-title-error">
        <h1>Sorry 😟</h1>
        <p>Unable to proceed/submit. Please check your input and try again.</p>
        <p>Please make sure you dont have an existing work offer.</p>
    </div>
    {% else %}
    <div class="work-offer-create-title">
        <h1>Create a work offer</h1>
        <p>Connect with freelancers, part-timers and professional services</p>
    </div>



    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="work-offer-create-flex">
            <div class="work-offer-create-flex-container">
                <div class="work-offer-thumbnail">
                    <div class="work-offer-thumbnail-upload"></div>
                    <div class="work-offer-thumbnail-upload"></div>
                    <div class="work-offer-thumbnail-upload"></div>
                    <div class="work-offer-thumbnail-upload"></div>
                </div>
                <label class="work-offer-thumbnail-upload-button">
                    <p>Upload images</p>
                    <input type="file" name="file" multiple="" data-max_length="4"
                        class="work-offer-create-upload__inputfile" required>
                </label>
            </div>

            <div class="work-offer-create-form">
                <div class="work-offer-create-input">
                    <label for="" class="work-offer-create-label">Client</label>
                    {{ client_name }} (You)
                </div>
                <div class="work-offer-create-input">
                    <label for="" class="work-offer-create-label">Work Offer Name</label>
                    {{ form.work_name }}
                </div>
                <div class="work-offer-create-input">
                    <label for="" class="work-offer-create-label">{{ form.min_pay.label }}</label>
                    {{ form.min_pay }}
                </div>
                <div class="work-offer-create-input">
                    <label for="" class="work-offer-create-label">{{ form.description.label }}</label>
                    {{ form.description }}
                </div>
                <div class="work-offer-create-form-button">
                    <input type="submit" id="create-workoffer" value="Create Work" />
                </div>
            </div>
        </div>
    </form>
    {% endif %}
</div>
{% include 'footer.html' %}
{% endblock %}