{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'css/includes/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/includes/work-offer-bidding.css' %}">
{% endblock %}
{% load humanize %}
{% block content %}
{% include 'navbar.html' %}


<div class="wo-bidding">
    <a href="/">
        <i class="fa-solid fa-caret-left"></i>
        <span>Return to Homepage</span>
    </a>
    <h2>Work Offer Biddings</h2>
    <div class="wo-contents">
        <div class="wo-image-view">
            {% for img in work_offer.workofferimage_set.all|slice:":1" %}
            <div class="wo-main-img">

                <img src="{{ img.image.url }}" alt="" id="img-preview">

            </div>
            {% endfor %}
            <div class="wo-img-thumbs">
                {% for img in work_offer.workofferimage_set.all %}
                <div class="wo-sub-img">
                    <img src="{{ img.image.url }}" alt="" id="img-thumbnails" onclick="myFunction(this);">
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="wo-details-and-bid">
            <div class="wo-sub-contents">
                <div class="wo-details">
                    <h3>{{ work_offer.work_name }}</h3>
                    <div class="wo-sub-details">
                        <div class="wo-img-sub-details">
                            <div class="wo-img-container">
                                <img src="{{ work_offer.created_by.avatar.url }}" alt="">
                            </div>
                            <!-- <span>⭐⭐⭐⭐⭐</span> -->
                        </div>
                        <div class="wo-content-sub-details">
                            <ul>
                                <li>
                                    <p>Posted By:</p>
                                    <span>{{ work_offer.created_by.full_name }}</span>
                                </li>
                                <li>
                                    <p>Location:</p>
                                    <span>{{ work_offer.created_by.full_addr }}</span>
                                </li>
                                <li>
                                    <p>Work Posted: </p>
                                    <span>{{ client_work_posted }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="wo-description">
                        <span><strong>Description: </strong></span> <br>
                        {{ work_offer.description }}
                    </p>
                </div>
                <div class="wo-time-limit">
                    {% if winning_bid %}
                    <div class="wb-closed">
                        <span>Closed</span>
                    </div>
                    {% endif %}
                    <div class="wo-timer">
                        <i class="fa-solid fa-clock"></i>
                        <p>Created {{ work_offer.created_at|naturaltime }}</p>
                    </div>
                    <div class="edit-btn">
                        <a href="/workoffer/{{ work_offer.id }}/edit">Edit</a>
                    </div>
                </div>
            </div>
            <div class="wo-pricing">
                <div class="wo-bid-incre">
                    <p>Starting Bid:</p>
                    <span>
                        ₱{% filter intcomma %}
                        {{ work_offer.min_pay|floatformat }}
                        {% endfilter %}
                    </span>
                </div>
            </div>
            <div class="wo-bidding-input">
                {% if request.user.is_authenticated and work_offer.created_by.id != request.user.mainuser.id and not is_user_has_pending %}
                    {% if winning_bid %}
                    <em class="wo-bd-closed">Bidding is already closed.</em>
                    {% else %}
                    <form method="post">
                        {% csrf_token %}
                        {% if form_errors %}
                        <div class="wo-bid-error">
                            <p>Unable to create bid:</p>
                            {% for error in form_errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="wo-bid-input">
                            <p>₱</p>
                            {{ bid_form.bid_amount }}
                            <button type="submit">Bid Now</button>
                        </div>

                        <div class="wo-bid-message">
                            {{ bid_form.bidder_msg }}
                        </div>
                    </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="wo-bidders">
        <div class="wo-active-and-total-bids">
            {% if winning_bid %}
            <div class="wo-winning-bids">
                <i class="fa-solid fa-award"></i>
                <div class="wo-wb-sub-content">
                    <p>Winning Bid:</p>
                    <span>₱ {{ winning_bid.bid_amount|floatformat:"2"|intcomma }}</span>

                    <div class="wo-wb-pfp">
                        <img class="mini-avatar" src="{{ winning_bid.bidder_id.avatar.url }}" alt="">
                        {{ winning_bid.bidder_id.full_name }}
                    </div>
                    <div class="wo-wb-desc">
                        Description:
                        {{ winning_bid.bidder_msg }}
                    </div>
                    <div class="wo-wb-date">
                        {{ winning_bid.created_at }}
                    </div>

                </div>
            </div>
            {% else %}
            <div class="wo-active-bids">
                <i class="fa-solid fa-hand"></i>
                <div class="wo-sub-content">
                    <span>{{ active_bids }}</span>
                    <p>Active Bids:</p>
                </div>
            </div>
            {% endif %}
            <div class="wo-total-bids">
                <i class="fa-solid fa-gavel"></i>
                <div class="wo-sub-content">
                    <span>{{ total_bids }}</span>
                    <p>Total Bids</p>
                </div>
            </div>
        </div>
        <div class="wo-latest-bidder">
            <div class="wo-latest-bid">
                {% if latest_bid %}
                <div class="wo-latest-bid-content">
                    <p>Latest Bidder: </p>
                    <span>
                        <img class="mini-avatar" src="{{ latest_bid.bidder_id.avatar.url }}" alt="">
                        {{ latest_bid.bidder_id.full_name }}
                    </span>
                </div>
                <div class="wo-latest-bid-content">
                    <p>Latest Bid: </p>
                    <span>₱{{ latest_bid.bid_amount|floatformat:"2" }}</span>
                </div>
                {% else %}
                <div class="wo-latest-bid-content">
                    No recent bids 🤷‍♂️
                </div>
                {% endif %}
            </div>
            <div class="wo-other-bid">
                <p>Other Bids:</p>
                <div class="wo-other-bid-tbl">
                    <table>
                        <thead>
                            <tr>
                                <th>Details</th>
                                <th>Bid</th>
                                <th>Status</th>
                                {% if request.user.is_authenticated and work_offer.created_by.id == request.user.mainuser.id %}
                                <th>Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for bid in bids %}
                            <tr class="wo-bid-tbl">
                                <td>
                                    <div class="bid-tbl-dtl">
                                        <div class="bid-tbl-sub-dtl">
                                            <span>{{ bid.bidder_msg }}</span>

                                        </div>
                                        <div class="bid-tbl-dtl-pfp">
                                            <img class="mini-avatar" src="{{ bid.bidder_id.avatar.url }}" alt="">
                                            <span>{{ bid.bidder_id.full_name }} <em>({{
                                                    bid.created_at|date:"SHORT_DATE_FORMAT" }})</em></span>

                                        </div>

                                    </div>
                                </td>
                                <td>
                                    <p>₱{{ bid.bid_amount|floatformat:"2" }}</p>
                                </td>
                                <td>
                                    <p>{{ bid.status }}</p>
                                </td>
                                {% if request.user.is_authenticated and work_offer.created_by.id == request.user.mainuser.id %}
                                <td>
                                    <a href="{% url 'view_bidding_details' work_offer.id bid.id %}">View</a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="scroll-top" class="scroll-top"><i class="fa-solid fa-arrow-up"></i></button>
{% include 'footer.html' %}
{% endblock %}