{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load humanize %}
{% include 'navbar.html' %}
<div class="work-offer-list">
    <h1>Work Offer Bidding Lists</h1>
    <div class="wo-sort">

        <div class="wo-sort-section">

            <span>Sort by:</span>
            <a href="#">Newest</a>
            <a href="#">Oldest</a>
            <select name="sort" id="" value="Price">
                <option value="none" selected disabled hidden>Price</option>
                <option value="">Price: High to Low</option>
                <option value="">Price: Low to High</option>
            </select>
        </div>
        <div class="wo-list-or-grid">

            <button><i class="fa-solid fa-list"></i></button>
            <button><i class="fa-solid fa-table-cells-large"></i></button>

        </div>

    </div>
    <ul class="offers">
        {% for work_offer in work_offers %}
        <li>
            <a href="{% url 'work_offer_bidding' work_offer.id %}">
                <div class="work-offer-thumbnail-parent">
                    <img src="{{ work_offer.thumbnail.url }}" alt="">
                </div>
                <p>{{ work_offer.work_name }}</p>
                <span>Bid Starts at &#8369;{% filter intcomma %}{{ work_offer.min_pay|floatformat }}{% endfilter %}

                </span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>


{% include 'footer.html' %}
{% endblock %}