.dashboard-template-1 {
    width: 100%;
    height: 100%;
    background-image: url('/static/images/background-homepage.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard-title-header {
    width: 50%;
    float: left;
    font-size: 2.5rem;
    font-weight: black;
    color: white;
    margin-top: 17%;
    margin-left: 5%;
}

.dashboard-sub-title {
    width: 50%;
    float: left;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-top: 2%;
    margin-left: 5%;
    color: white;
}

.dashboard-setup-service-profile {
    width: 50%;
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 5%;
    margin-left: 5%;
}

.dashboard-setup-service-profile a {
    width: 100%;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #507C59;
}

/* Dashboard Template 2 */

.dashboard-template-2 {
    width: 100%;
    /* height: 120vh; */
    background-color: white;
}

.dashboard-work-offers {
    width: 90%;
    height: 50vh;
    margin: 0 auto;
}

.dashboard-work-offers h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    margin-top: 5%;
    margin-left: 5%;
}

.offers {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 50px auto;
    position: relative;
}

.offers li {
    list-style: none;
    margin: 0 10px;
    width: 20%;
}

.offers li a {
    text-decoration: none;
    color: black;
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.work-offer-thumbnail-parent {
    width: 200px;
    height: 250px;
    /* background-color: gray; */
    margin-bottom: 20px;
    position: relative;

}

.work-offer-thumbnail-parent img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all 0.1s ease-in;
    animation: showMe 2s ease infinite 0.2s forwards;
    animation-play-state: paused;

    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    /* position: absolute; */
}

.work-offer-thumbnail-parent:hover img {
    animation-play-state: running;
}

.work-offer-thumbnail-parent img:nth-child(1) {
    animation-delay: 0.5s;
    z-index: 9;
}

.work-offer-thumbnail-parent img:nth-child(2) {
    animation-delay: 1s;
    z-index: 8;
}

.work-offer-thumbnail-parent img:nth-child(3) {
    animation-delay: 1.5s;
    z-index: 7;
}

/* Animation */
@keyframes showMe {
    0% {

        visibility: visible;
        z-index: 80;
    }

    12.5% {

        visibility: visible;
        z-index: 80;
    }

    /* 25% {

        visibility: hidden;
        z-index: 0;
    } */

    100% {

        visibility: hidden;
        z-index: 0;
    }
}

.offers li:not(.dashboard-show-more) a:hover {
    transform: scale(1.03);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.services li:not(.dashboard-show-more-2) a:hover {
    transform: scale(1.03);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* .work-offer-thumbnail-parent:hover img {
    opacity: 0;
} */

.dashboard-show-more {
    position: absolute;
    font-size: 1rem;
    right: -25%;
    top: 20%;
}

.dashboard-show-more i {
    font-size: 2rem;
    text-align: end;
    margin-left: 35%;
    color: #000000;
    transition: all .2s ease-in-out;
}

.dashboard-show-more a p {
    font-style: bold;
    font-size: 1.5rem !important;
    color: #000000 !important;
    transition: all .2s ease-in-out;
}

.dashboard-show-more:hover a p,
.dashboard-show-more:hover a i {
    color: rgb(80, 124, 89) !important;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
}




.offers li a p {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.offers li a span {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    margin-bottom: 20px;
}

.dashboard-services {
    width: 90%;
    height: 50vh;
    margin: 0 auto;
}

.dashboard-services h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    margin-top: 5%;
    margin-left: 5%;
}

.services {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 50px auto;
    position: relative;
}

.services li {
    list-style: none;
    margin: 0 10px;
    width: 20%;
}

.services li a {
    text-decoration: none;
    color: black;
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

/* .services li a img {
    width: 250px;
    height: 300px;
    background-color: gray;
    margin-bottom: 20px;
} */

.services li a p {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.services li a span {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.dashboard-show-more-2 {
    position: absolute;
    font-size: 1rem;
    right: -25%;
    top: 30%;
}

.dashboard-show-more-2 i {
    font-size: 2rem;
    text-align: end;
    margin-left: 35%;
    color: #000000;
    transition: all .2s ease-in-out;
}

.dashboard-show-more-2 a p {
    font-style: bold;
    font-size: 1.5rem !important;
    color: #000000 !important;
    transition: all .2s ease-in-out;
}

.dashboard-show-more-2:hover a p,
.dashboard-show-more-2:hover a i {
    color: rgb(80, 124, 89) !important;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
}

/* Dashboard Tempalte 3 */

.dashboard-template-3 {
    margin: 5% 0px;
    width: 100%;
    /* height: 60vh; */
    background-color: #507C59;
}

.dashboard-template-3 h1 {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.dashboard-categories {
    width: 70%;
    margin: 2% auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.categories {
    margin: 50px;
    font-size: 1.2rem;
    text-align: center;
}

.categories a {
    text-decoration: none;
    color: white;
}

.categories a img {
    margin-bottom: 20px;
    /* filter: grayscale; */
}

/* Dashboard Template 4 */

.dashboard-template-4 {
    width: 100%;
    height: 70vh;
    background-color: white;
}

.dashboard-template-4 h1 {
    font-size: 2.5rem;
    width: 20%;
    color: #000000;
    font-weight: bold;
    margin-top: 5%;
    margin: 3% auto;
    text-align: center;
}

.dashboard-template-4 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mailing-section {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.mailing-section label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;

}

.mailing-section input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #000000;
    padding: 10px;
    margin: 0 auto;
    font-family: "Raleway";
}

.mailing-section input:focus {
    outline: none;
}

.mailing-section input[type="submit"] {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 0 auto;
    font-family: "Raleway";
    background-color: #507C59;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}




@media screen and (max-width: 768px) {
    .dashboard-template-1 {
        display: block;
        padding-top: 70%;
    }

    .dashboard-title-header {
        width: 100%;
        font-size: 1.5rem;
        margin: 10% 20px;
    }

    .dashboard-sub-title {
        width: 100%;
        font-size: 1.2rem;
        margin: 10% 20px;
    }

    .dashboard-setup-service-profile {
        width: 100%;
        margin: 10% 20px;
    }

    /* .dashboard-setup-service-profile a {
        width: 100%;
        padding: 20px 40px;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        background-color: #507C59;
    } */

    .dashboard-template-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .dashboard-work-offers {
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .offers {
        display: flex;
        flex-direction: column;
    }

    .offers li {
        width: 100%;
    }


    .dashboard-services {
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .services {

        display: flex;
        flex-direction: column;
    }

    .services li {
        width: 100%;
        margin: 0px 20px;
    }



    .dashboard-show-more {
        margin: 0 10px;
        width: 100%;
        right: 0%;
        position: relative;
    }

    .dashboard-show-more-2 {
        position: relative;
        margin: 0 10px;
        right: 0%;
        width: 100%;
    }

    .dashboard-template-3 {
        width: 100%;
    }

    .dashboard-template-3 h1 {
        font-size: 1.6rem;
    }

    .dashboard-categories {
        display: flex;
        flex-direction: column;

    }

    .dashboard-template-4 {
        width: 100%;
        margin: 50px 0px;
    }

    .dashboard-template-4 h1 {
        width: 100%;
        font-size: 1.6rem;
    }

    .dashboard-template-4 form {
        width: 80%;
        margin: 0 auto;
    }

    .mailing-section {
        width: 100%;
    }


}