.login-template {
    width: 100%;

}

.login-template h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 50px 0;
}

.login-form {
    width: 90%;
    margin: 0 auto;
}

.login-form form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-email {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.login-email label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-email input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #000000;
    padding: 10px;
    margin: 0 auto;
    font-family: "Raleway";
}

.login-password {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.login-password label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-password input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #000000;
    padding: 10px;
    margin: 0 auto;
    font-family: "Raleway";
}

.login-buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.login-buttons input {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-family: "Raleway";
    margin: 20px auto;
    background-color: #507C59;
}

.login-buttons a {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-family: "Raleway";
    margin: 20px auto;
    text-align: center;
    background-color: #3B5998;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}



.seperator {
    width: 100%;
    text-align: center;
    position: relative
}

.seperator p {
    display: inline;
    padding: 0 10px;
    background-color: white;
    text-align: center;
}

.seperator hr {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #000000;
    border: none;
    top: 50%;
    transform: translateX(50%);
    z-index: -1;
}

.login-reg-btn {
    text-align: center;
    margin: 30px 0px;
}

.login-reg-btn a {
    text-decoration: none;
    color: #507C59;

    font-weight: bold;
    margin: 20px 0;
}

.password-show {
    width: 100%;
    position: relative !important;
}

#id_password {
    position: relative !important;
}

#show_pass,
#show_pass2 {
    position: absolute;
    top: 23%;
    right: 2%;
    cursor: pointer;
    font-size: 1.4rem;
    display: block;
}

#hide_pass,
#hide_pass2 {
    position: absolute;
    top: 23%;
    right: 2%;
    cursor: pointer;
    font-size: 1.4rem;
    display: none;
}

@media screen and (max-width: 768px) {
    .login-template h1 {
        font-size: 1.5rem;
    }

    .login-form {
        width: 90%;
    }

    .login-form form {
        width: 80%;
    }

    .login-email,
    .login-password,
    .login-buttons {
        width: 100%;
    }
}