.srvc-dtl {
    width: 90%;
    margin: 0 auto;
}

.srvc-dtl a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.srvc-dtl a i,
.srvc-dtl a span {
    padding: 40px 0px;
}

.srvc-dtl h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 30px 0px;
}

.srvc-dtl-contents {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.srvc-dtl-image-view {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.srvc-dtl-main-img {
    width: 100%;
    height: 450px;
    border-radius: 40px;
    margin: 20px;
}

.srvc-dtl-main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.srvc-dtl-img-thumbs {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-self: start;
    margin-top: 20px;
}

.srvc-dtl-sub-img {
    width: 100px;
    height: 70px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.srvc-dtl-sub-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.srvc-dtl-details-and-reviews {
    width: 40%;
    margin: 0 50px;
}

.srvc-dtl-sub-contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: start;
    margin-bottom: 20px;
}

.srvc-dtl-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.srvc-dtl-details h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
}

.srvc-dtl-sub-details {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.srvc-dtl-img-sub-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.srvc-dtl-img-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #749E7D;
}

.srvc-dtl-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #749E7D;
}


.srvc-dtl-content-sub-details ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.srvc-dtl-content-sub-details ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.srvc-dtl-content-sub-details ul li p {
    font-weight: bold;
}

.srvc-dtl-content-sub-details ul li span {
    display: flex;
    margin-left: 10px;
}

.srvc-dtl-tags {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.srvc-dtl-tag-container {
    width: 150px;
    height: 100px;
    background-color: #749E7D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
}

.srvc-dtl-tag-container strong {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    margin: 5px 0;
    color: white;
}

.srvc-dtl-tag-container span {
    font-size: 1rem;
    font-weight: bold;
}

.srvc-dtl-tag-container a {
    align-items: center;
    text-decoration: none;
    color: white;
}

.srvc-dtl-description {
    width: 100%;
    padding: 20px 30px;
}

.srvc-dtl-service-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.srvc-dtl-service-textarea {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.srvc-dtl-service-textarea textarea {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #749E7D;
    resize: none;
    padding: 10px;
    font-size: 1rem;
    font-family: "Raleway";
    margin: 10px 0px;
    outline: none;
}

.srvc-dtl-service-btn input[type="submit"] {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #749E7D;
    background-color: #749E7D;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 50px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0px;
}

.srvc-dtl-description {
    background-color: #7CB687;
    width: 100%;
    color: white;
    padding: 40px 20px;
    border-radius: 20px;
    display: block;
}

.srvc-dtl-description h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.srvc-dtl-reviews {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10% auto;
}

.srvc-dtl-review-options {
    display: flex;
    flex-direction: column;
    background-color: #7CB687;
    width: 25%;
    color: white;
    padding: 40px 20px;
    border-radius: 20px;
}

.srvc-dtl-review-options h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px 0px;
}

.star-ratings {
    color: rgb(255, 255, 255);
}

.checked {
    color: rgb(255, 217, 146);
}

.rating-setting {
    width: 50%;
    display: flex;
    align-items: center;
}

.rating-setting .star-ratings {
    margin-left: 10px;
}

.srvc-dtl-review-clients {
    display: flex;
    flex-direction: column;
    background-color: #7CB687;
    width: 70%;
    color: white;
    padding: 40px 0;
    border-radius: 20px;
}

.reviewer-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #749E7D;
    margin: 0px 40px;
}



.reviewer-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.review-body {
    display: flex;
    flex-direction: column;
}

.review-body-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0px;
}

.review-body-rv-dtl {
    font-size: 1rem;
    margin: 10px 0;
}

.acquired-service-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.asc-dtl {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0px;
}

.asc-dtl h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.asc-dtl h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.acquired-service-card span {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

/* Scroll to Top */
.scroll-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    outline: none;
    background-color: #5d9167;
    border: none;
    cursor: pointer;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateX(200%);
}

.scroll-top i {
    color: white;
    font-size: 2rem;
}

.scroll-active-1 {
    transition: all .5s ease-in-out;
    transform: translateX(200%);
}

.scroll-active-2 {
    transition: all .5s ease-in-out;
    transform: translateX(0%);
}

.service-review {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.service-review form {
    width: 100%;
}
