.srvc-dtl {
    width: 90%;

    margin: 0 auto;
}

.srvc-dtl a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.srvc-dtl a i,
.srvc-dtl a span {
    padding: 40px 0px;
}

.srvc-dtl h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 30px 0px;
}

.srvc-dtl-contents {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.srvc-dtl-image-view {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.srvc-dtl-main-img {
    width: 100%;
    height: 450px;
    border-radius: 40px;
    margin: 20px;
}

.srvc-dtl-main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.srvc-dtl-img-thumbs {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-self: start;
    margin-top: 20px;
}

.srvc-dtl-sub-img {
    width: 100px;
    height: 70px;
    border-radius: 5px;
    margin-right: 20px;
}

.srvc-dtl-sub-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.srvc-dtl-details-and-reviews {
    width: 40%;
    margin: 0 50px;
}

.srvc-dtl-sub-contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: start;
    margin-bottom: 50px;
}

.srvc-dtl-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.srvc-dtl-details h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
}

.srvc-dtl-sub-details {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.srvc-dtl-img-sub-details {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.srvc-dtl-img-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #749E7D;
}

.srvc-dtl-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #749E7D;
}


.srvc-dtl-content-sub-details ul {

    list-style: none;
    padding: 0;
    margin: 0;
}

.srvc-dtl-content-sub-details ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.srvc-dtl-content-sub-details ul li p {
    font-weight: bold;
}

.srvc-dtl-tags {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.srvc-dtl-tag-container {
    width: 150px;
    height: 100px;
    background-color: #749E7D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
}

.srvc-dtl-tag-container strong {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    margin: 5px 0;
    color: white;
}

.srvc-dtl-tag-container span {
    font-size: 1rem;
    font-weight: bold;
}

.srvc-dtl-tag-container a {
    align-items: center;
    text-decoration: none;
    color: white;
}

.srvc-dtl-description {
    width: 100%;
    padding: 20px 0;
}

.srvc-dtl-service-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.srvc-dtl-service-textarea textarea {
    resize: none;
}

.srvc-dtl-service-btn input[type="submit"] {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #749E7D;
    background-color: #749E7D;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 50px;
    text-align: center;
    cursor: pointer;
}

.srvc-dtl-description {
    background-color: #7CB687;
    width: 100%;
    color: white;
    padding: 40px 0;
    border-radius: 20px;
}

.srvc-dtl-reviews {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}

.srvc-dtl-review-options {
    display: flex;
    flex-direction: column;
    background-color: #7CB687;
    width: 25%;
    color: white;
    padding: 40px 0;
    border-radius: 20px;
}

.srvc-dtl-review-clients {
    display: flex;
    flex-direction: column;
    background-color: #7CB687;
    width: 70%;
    color: white;
    padding: 40px 0;
    border-radius: 20px;
}

.service-review {
    display: flex;
    flex-direction: row;
}

.reviewer-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #749E7D;
}

.reviewer-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.review-body {
    display: flex;
    flex-direction: column;
}