.work-offer-page {
    width: 90%;
    height: 90vh;
    margin: 0 auto;
}

.work-offer-page a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.work-offer-page a i,
.work-offer-page a span {
    padding: 40px 0px;
}

.work-offer-page h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 30px 0px;
}

.work-offer-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wo-entries span {
    font-size: 1rem;
    font-weight: 600;
}

.wo-entries select {
    border: 2px solid black;
    border-radius: 4px;
    font-family: 'Raleway';
    font-size: .9rem;
    font-weight: 500;
    padding: 5px 10px;
}

.wo-entries select option {
    font-family: 'Raleway';
    font-size: .9rem;
    font-weight: 500;
}

.wo-search-and-sort {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.wo-sort-select span {
    font-size: 1rem;
    font-weight: 600;
}

.wo-sort-select select {
    border: 2px solid black;
    border-radius: 4px;
    font-family: 'Raleway';
    font-size: .9rem;
    font-weight: 500;
    padding: 5px 10px;
}

.wo-sort-select select option {
    font-family: 'Raleway';
    font-size: .9rem;
    font-weight: 500;
}

.wo-search-bar label {
    font-size: 1rem;
    font-weight: 600;
}

.wo-search-bar input[type='text'] {
    border: 2px solid black;
    border-radius: 4px;
    font-family: 'Raleway';
    font-size: .9rem;
    font-weight: 500;
    padding: 5px 10px;
}

.work-offer-table {
    width: 100%;
}

.wo-table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;

}

.wo-table thead {

    background-color: #59745f;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 0px 15px 0px 15px;
}

.wo-table th,
.wo-table td {
    padding: 12px 15px;
    text-align: center;
}

.wo-table tbody tr {
    border-bottom: 2px solid #59745f;
    text-align: center;
}

.wo-table tbody tr td span {
    font-weight: 600;
}

.wo-table tbody tr td span a {
    cursor: pointer;
    color: rgb(44, 170, 44);
}

.wo-table tbody tr td span input[type='button'] {
    font-weight: 600;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Raleway";
    font-size: 1rem;
    cursor: pointer;
    color: rgb(204, 52, 52);
}

.wo-table tbody tr td span button {
    font-weight: 600;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Raleway";
    font-size: 1rem;
    cursor: pointer;
}

.no-data {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: rgb(168, 168, 168);
}

/* View Work Offer Page */
.view-work-offer-page {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}


.view-work-offer-page a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.view-work-offer-page a i,
.view-work-offer-page a span {
    padding: 40px 0px;
}


.view-work-offer-page h2 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}

.view-work-offer-page p {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 5px 0px;
    padding-bottom: 40px;
    text-align: center;
}

.view-work-offer-page-contents {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}

.vwo-profile {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 40px;
    background-color: #7CB687;
    border-radius: 20px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.vwo-pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #59745f;
}

.vwo-pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.vwo-pfp-name h3 {
    font-size: 1.4rem;
    font-weight: bold;

}

.vwo-pfp-other-details ul {
    margin: 10px auto;
}

.vwo-pfp-other-details ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.vwo-pfp-other-details ul li p {
    font-size: .9rem;
    font-weight: bold;
    text-align: start;
    padding: 0;
}

.vwo-pfp-other-details ul li span {
    font-size: .9rem;
    text-align: start;
}



.view-work-offer-btns {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
}

.view-work-offer-btns input[type='submit'] {
    padding: 10px 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.view-work-offer-btns input[type='submit']:nth-of-type(1) {
    background-color: #85C693;
    color: white;
}

.view-work-offer-btns input[type='submit']:nth-of-type(2) {
    background-color: #B74848;
    color: white;
}


/* Work Offer list */
.work-offer-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.work-offer-list h1 {
    font-size: 3rem;
    font-weight: bold;
    padding: 50px 20px;

}

.work-offer-list .offers {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    width: 100%;
    padding: 60px 0px;
}

.work-offer-list .offers li {
    width: 100%;
}

.work-offer-list .offers li a {
    width: 100%;
    margin: 0 auto;
}

.work-offer-list .offers li a p {
    width: 100%;
}

/* Work Offer List Sorting */

.wo-sort {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wo-sort-section {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 10px;
    align-items: center;
}

.wo-sort-section span {
    font-size: 1rem;
    font-weight: bold;
    width: 10%;
}

.wo-sortings-nop-href a {
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    margin: 0px 10px;
    border: 2px solid #7CB687;
    border-radius: 10px;
    font-weight: 500;
    outline: none;
}

.wo-sortings-nop {
    display: flex;
    width: 100%;
}

.wo-sortings-nop-href {
    display: flex;
}


.wo-sort-section a:hover {
    background-color: #7CB687;
    color: white;
    transition: all .2s ease-in;
}

.wo-sort-section select {
    color: black;
    padding: 10px;
    border: 2px solid #7CB687;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}



.wo-list-or-grid {
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.wo-list-or-grid button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    outline: none;
    border: 2px solid #7CB687;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    background-color: white;
}

.wo-list-or-grid a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    outline: none;
}

.wo-list-or-grid button:hover {
    color: white;
    background-color: #7CB687;
    transition: all .2s ease-in;
}

.wo-list-or-grid button:hover a {
    color: white;
    transition: all .2s ease-in;
}

.offers-list {

    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
    padding: 60px 0px;
    gap: 20px;

}

.offers-list li {
    width: 100%;
    margin: 0px 10px;
    list-style: none;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.offers-list li a {
    text-decoration: none;
    color: black;
    margin: 10px auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

/* .offers-list li a p {} */

.offers-list li a:hover {
    transform: scale(1.03);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: all .2s ease-in-out;
}

@media screen and (max-width:768px) {
    .work-offer-list {
        width: 100%;
    }

    .work-offer-list h1 {
        font-size: 2rem;
    }

    .wo-sort {
        flex-direction: column;
        width: 100%;
    }

    .wo-sort-section {
        width: 100%;
        flex-direction: column;
        align-items: start;
        padding: 20px 25px;
    }

    .wo-sortings-nop {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .wo-sortings-nop-href {
        margin: 20px 0px;
        width: 100%;
        flex-direction: column;
    }

    .wo-sortings-nop-href a {
        padding: 10px 50px;
    }

    #price-filter {
        width: 80%;
    }

    .wo-list-or-grid {
        width: 100%;
        padding: 5px 25px;
    }

    .wo-list-or-grid button {
        padding: 15px 20px;
    }

    #create {
        background-color: #7CB687;

    }

    #create a {
        color: white;
    }

    .offers-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .offers-list li a {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    /* Work Offers biddings view */
    .view-work-offer-page {
        width: 90%;


        padding: 20px 0px;
    }

    .view-work-offer-page-contents {
        margin: 0 auto;
        width: 100%;
    }

    .vwo-profile {
        width: 100%;
    }

    .vwo-pfp {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 3px solid #59745f;
    }

    .view-work-offer-btns {
        display: flex;
        flex-direction: column;
    }

    .view-work-offer-btns input[type="submit"] {
        margin: 10px;
    }
}