@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.work-offer-create-container {
  width: 60%;
  margin: auto;
  padding: 70px;

}

.work-offer-create-title {
  margin-bottom: 45px;
  text-align: left;
}

.work-offer-create-title h1 {
  margin-bottom: 8px;
}

.work-offer-create-titles {
  width: 93%;
  margin-bottom: 45px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-offer-create-titles h1 {
  margin-bottom: 8px;
}


.cancel-btn {
  background-color: #852121;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 30px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
}

.cancel-btn a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.work-offer-create-flex {
  display: flex;
}

.work-offer-create-details {
  padding: 16px;
}

.work-offer-create-details-card {
  padding: 16px;
  display: flex;
}

.work-offer-create-details-card-img {
  width: 144px;
  height: 144px;
  margin-right: 24px;
}

.work-offer-create-details-card-img img {
  width: 100%;
  border-radius: 50%;
}

.work-offer-create-card-details {
  font-weight: 600;
}

.work-offer-create-card-title {
  font-size: 24px;
}

.work-offer-create-client-name {
  font-size: 20px;
}

.work-offer-create-card-values {
  font-weight: 400;
}

.work-offer-create-details-thumbnail-img {
  width: 100%;
  height: 144px;
  margin-bottom: 8px;
}

.work-offer-create-details-thumbnail-img img {
  border-radius: 8px;
  height: 100%;
  width: 110%;
}

.work-offer-create-thumbnail-work-offer-name {
  font-weight: 600;
}

.work-offer-create-form {
  width: 50%;
  padding: 16px;
  margin-left: 50px;
}

.work-offer-create-input {
  width: 100%;
  margin-bottom: 16px;
}


.work-offer-create-label {
  display: block;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 4px;
}

.work-offer-create-container input,
textarea {
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  font-family: 'Raleway';
  font-size: 1.1rem;
  font-weight: 500;

}

.work-offer-create-container textarea {
  height: 128px;
  font: "Raleway", sans-serif;
  font-weight: 500;
}

.work-offer-create-form-button input[type="submit"] {
  width: 100%;
  padding: 16px 8px;
  background-color: #507c59;
  border: 1px solid #507c59;
  border-radius: 4px;

  font: 16px "Raleway", sans-serif;
  font-weight: 600;
  color: white;
}

.work-offer-create-flex-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.work-offer-thumbnail-upload-button-box {
  margin-bottom: 10px;
}

.work-offer-create-upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.work-offer-create-upload__img-box {
  width: 200px;
  padding: 0 10px;
  margin-bottom: 12px;
}

.work-offer-create-img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}

.work-offer-thumbnail {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work-offer-thumbnail-upload {
  position: relative;
  background: #e2eaf4;
  margin: 5px;
}

.work-offer-thumbnail-upload:first-child {
  width: 100%;
}

.work-offer-thumbnail-upload:not(:first-child) {
  flex: 1;
}

.work-offer-thumbnail-upload-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}

.work-offer-thumbnail-upload-close:after {
  content: "\2716";
  font-size: 14px;
  color: white;
}

.work-offer-thumbnail-upload-button {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  text-align: center;
  min-width: 116px;
  padding: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid;
  background-color: #507c59;
  border-color: #507c59;
  line-height: 26px;
  font-size: 14px;
}

.work-offer-create-upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.cancel-btns {
  display: none;
}

@media screen and (max-width:768px) {
  .work-offer-create-container {
    width: 100%;
    margin: 0;
    padding: 30px 15px;
  }

  .work-offer-create-flex {
    flex-direction: column;
  }

  .work-offer-create-flex-container {
    width: 100%;
    margin: 20px auto;
  }

  .work-offer-create-form {
    width: 100%;
    margin: 0;
  }

  .work-offer-create-titles {
    width: 100%;
    margin: 0;
  }

  .cancel-btn {
    display: none;
  }

  .cancel-btns {
    display: flex;
    background-color: #852121;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 30px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px; */
    margin: 10px 0px;
  }

  .cancel-btns a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}