
{% load static %}
{% load custom_tags %}
<div class="footer">
    <h1>Servicify</h1>
    <div class="quick-links">
        <div class="set-a">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="{% url 'dashboard' %}">Home</a></li>
                <li><a href="{% url 'about_us' %}">About</a></li>
                <li><a href="{% url 'contact_us' %}">Contact</a></li>
                <li><a href="{% url 'service_marketplace' %}">Service Marketplace</a></li>
                <li><a href="{% url 'work_offer_list' %}">Work Offer</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        <div class="set-b">
            <h2>Categories</h2>
            <ul>
                {% for type in categories %}
                <li><a href="/service-marketplace/?{% query_transform filter=type.parsed_name %}">{{ type.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr>
    <div class="lower-footer">
        <span>Copyright © 2022. Servicify ™</span>
        <span>Powered by Servicify ™</span>
    </div>
</div>
