{% extends 'index.html' %}
{% load static %}
{% block content %}


<div class="footer">
    <h1>Servicify</h1>
    <div class="quick-links">
        <div class="set-a">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Service Marketplace</a></li>
                <li><a href="#">Work Offer</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        <div class="set-b">
            <h2>Categories</h2>
            <ul>
                <li><a href="">Electronics</a></li>
                <li><a href="">Health Services</a></li>
                <li><a href="">Automotive</a></li>
                <li><a href="">Legal Services</a></li>
                <li><a href="">Event Services</a></li>
                <li><a href="">Well-Being</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="lower-footer">
        <span>Copyright © 2022. Servicify ™</span>
        <span>Powered by Servicify ™</span>
    </div>
</div>


{% endblock %}