{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Servicify</title>
    <link rel="icon" href="{% static 'images/main-logo-2.png' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block css_files %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
</head>

<body id="body">
    {% block content %}
    {% endblock %}
    


    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <script>
        function disclaimer(){
            Swal.fire({
                title: 'Welcome to Servicify',
                text: 'We are here to help you find the best service provider for you',
                imageUrl: "{% static 'images/main-logo-2.png' %}",

                html: 
                    "<h2>Disclaimer</h1>" + "<br>" +
                        "<p>This website is for capstone and research purposes only. Your facebook data and mobile number is not shared with anyone. The data saved when you login using facebook is used to display your profile picture, email and name only. Please be advised that this website is not for any commercial use. Thank you for your understanding.</p>" + "<br>" ,
                input: 'checkbox',
                inputAttributes: {
                    required: 'true'
                },
                
                inputPlaceholder: 'I agree to the disclaimer',
                allowOutsideClick: false,
                showConfirmButton: true,
                confirmButtonText:'Continue',
                confirmButtonColor: '#5D9167',
                inputValidator: (value) => {
                    return new Promise((resolve) => {
                        if (value == 1) {
                            resolve()
                        } else {
                            resolve('Please check the required input!')
                        }
                    })
                }
            })
            
        }
        document.getElementById("body").addEventListener('load', disclaimer());
    </script>
{% block scripts %}{% endblock %}
</body>



</html>