{% extends 'index.html' %}
{% load static %}
{% block content %}

<style>
    .avatar {
        height: 60px;
        width: 60px;
        background-color: #000;
        border-radius: 50%;
    }
</style>

<div class="navigation-bar">
    <div class="logo-navbar">
        <a href="#">
            <img src="{% static 'images/logo-navbar.png' %}" alt="logo">
        </a>
    </div>
    <ul class="navlinks">
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="">{{ request.user.first_name }}</a></li>
        <li>
            <button id="avatar">
                <img class="avatar" src="
            {% for data in avatar %}
            {{ data.avatar.url }}
            {% endfor %}
            ">
            </button>
        </li>
        <li class="hover-profile" id="navlinks-profile">
            <ul class="navlinks-clicked">
                <li><a href="{% url 'profile' %}"><i class="fa-solid fa-user"></i>Profile</a></li>
                <li><a href="/"><i class="fa-solid fa-house-chimney"></i>Home</a></li>
                <li><a href="#"><i class="fa-solid fa-circle-info"></i>About</a></li>
                <li><a href="#"><i class="fa-solid fa-phone"></i>Contact</a></li>
                <li><a href="{% url 'service_request' %}"><i class="fa-solid fa-wrench"></i>Service Requests</a></li>
                <li><a href="{% url 'acquireservice' %}"><i class="fa-solid fa-shop"></i>Service Marketplace</a></li>
                <li><a href="{% url 'workoffer' %}"><i class="fa-solid fa-briefcase"></i>Work Offer</a></li>

            </ul>
        </li>

        {% else %}
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="{% url 'acquireservice' %}">Service Marketplace</a></li>
        <li><a href="{% url 'workoffer' %}">Work Offer</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <div class="search-bar">
            <button type="submit">
                <img src="{% static 'images/search-icon.png' %}" alt="search-icon">
            </button>
        </div>
        {% endif %}
    </ul>

</div>


{% endblock %}