{% extends 'index.html' %}
{% load static %}
{% block content %}

<style>
    .avatar {
        height: 60px;
        width: 60px;
        background-color: #000;
        border-radius: 50%;
    }
</style>

<div class="navigation-bar">
    <div class="logo-navbar">
        <a href="/">
            <img src="{% static 'images/logo-navbar.png' %}" alt="logo">
        </a>
    </div>


    {% if request.user.is_authenticated %}
    <div class="navlinks-logged-in">
        <ul class="navlink">
            <!-- <div class="search-bar">
                <input type="text" placeholder="Search..." id="search-bar-logged-in">
                <button id="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>

            </div> -->
            <li><a href="">{{ request.user.first_name }}</a></li>
            <li>
                <button id="avatar">
                    <img class="avatar" src="
                {% for data in avatar %}
                {{ data.avatar.url }}
                {% endfor %}
                ">
                </button>
            </li>
            <li class="hover-profile" id="navlinks-profile">
                <ul class="navlinks-clicked">

                    <li><a href="{% url 'profile' request.user.id %}"><i class="fa-solid fa-user"></i>Profile</a></li>
                    <li><a href="{% url 'service_marketplace' %}"><i class="fa-solid fa-shop"></i>Service
                            Marketplace</a></li>
                    <li><a href="{% url 'work_offer_list' %}"><i class="fa-solid fa-briefcase"></i>Work Offers</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa-solid fa-door-open"></i>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>

    {% else %}
    <div class="burger-menu">
        <div id="nav-icon4">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navlinks-logged-out">

        <ul class="navlinks" id="navlinks">

            <li><a href="{% url 'service_marketplace' %}">Service Marketplace</a></li>
            <li><a href="{% url 'work_offer_list' %}">Work Offers</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <!-- <div class="search-bar">
                <input type="text" placeholder="Search" id="search-bar">
                <button id="search">
                    <img src="{% static 'images/search-icon.png' %}" alt="search-icon">
                </button>

            </div> -->
    </div>
    </ul>
    {% endif %}



</div>

<script>
    var burgerbtn = document.getElementById('nav-icon4');
    var navlinks = document.getElementById('navlinks');


    if (burgerbtn) {
        burgerbtn.addEventListener('click', () => {
            burgerbtn.classList.toggle('open');
            navlinks.classList.toggle('navlinks-active');
        })
    }

</script>





{% endblock %}