{% extends 'index.html' %}
{% load static %}
{% block content %}


<div class="navigation-bar">
    <div class="logo-navbar">
        <a href="#">
            <img src="{% static 'images/logo-navbar.png' %}" alt="logo">
        </a>
    </div>
    <ul class="navlinks">
        <li><a href="{% url 'dashboard' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="{% url 'acquireservice' %}">Service Marketplace</a></li>
        <li><a href="{% url 'workoffer' %}">Work Offer</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <div class="search-bar">
            <button type="submit">
                <img src="{% static 'images/search-icon.png' %}" alt="search-icon">
            </button>
        </div>
    </ul>

</div>


{% endblock %}